<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Colegio San Miguel</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/estilos.css") }}">
</head>
<body>
  <!-- {% block content %}{% endblock %}  -->
    <h2> Colegio San Miguel</h2>
      <div class="Encabezado">
        <img class="" src= "LOGO.jpeg" height="100px" width="100px"> 
			<br><br><a href = "{{ url_for('inicio') }}" > Inicio </a><br><br>
	  </div>	
</body>
</html>

